.avatar {
  border-radius: 5px;
  height: 48px;
  width: 48px;
  margin-right: 15px;
}

.verified {
  height: 20px;
  width: 20px;
}

.card {
  padding: 20px;
}

.tweet-header {
  display: flex;
  align-items: center;
}

.tweet-author {
  flex: 1;
}

.tweet-content {
  margin-top: 20px;
}

.greyed-item {
  color: #a3a0a7;
}