<div class="card">
  <div class="tweet-header">
    <img alt="profile image" class="avatar" src="{{tweet.imageUrl}}">
    <div class="tweet-author">
      <h5>{{tweet.displayName}}
        <img *ngIf="tweet.verified" src="/assets/twitter-verified-icon.svg" alt="verified">
      </h5>
      <h6>@{{tweet.name}}</h6>
    </div>
  </div>

  <div class="tweet-content">
    <p> {{tweet.text}} </p>
  </div>
  <div class="greyed-item">
    <p>
      {{tweet.createdAt | date:'medium'}}
    </p>
    <i class="tiny material-icons">repeat</i> {{tweet.retweetCount}}
    <i class="tiny material-icons">favorite</i> {{tweet.favoriteCount}}
  </div>
</div>